html {
    background-color: rgb(60,60,60);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    background-image: url(Imagenes/Background.jpg);
    background-attachment: fixed;
    background-size: 100%;
}

body {
    margin-left: 1%;
}

label {
    margin-right: 1%;
}

form {
    border: 2px solid cyan;

    border-radius: 10px;

    background-color: rgb(75, 75, 249);
    padding: 1.5%
}

hr {
    color: cyan;
    margin-bottom: 1.5%;
}

label:hover {
    text-decoration: underline;
}

input {
    border-radius: 5px;
}

input:hover {
    border: 2px solid black;
}

h1 {
    margin-left: 2%;
}

